body {
  background-color: gray;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#title {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pageTitle {
  text-shadow: 2px 2px 4px #000000;
}

#body {
  /*Sets background image and makes it fill the screen, no matter the screen size*/
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bodytext {
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;
}

.navBar {
  padding: 1px 1px;
  width: 100%;
  text-align:right;
}

.loginContainer {
  margin: 0 auto;
}

.loginbox {
  width: 450px;
  height: 465px;
  background: rgb(37, 37, 37);
  color: #fff;
  top: 40%;
  margin: 0 auto;
  position: relative;
  transform: translate(-50,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 40%;
}

h1 {
  margin: 0 auto;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22-x;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox #submit {
  border: none;
  outline: none;
  height: 40px;
  background: turquoise;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  text-align: center;
}

.loginbox #submit:hover {
  cursor: pointer;
  background: red;
  color: white;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color:white;  
}

.loginbox a:hover {
  color: red;
}

.loginLink:hover {
  cursor: pointer;
  color: red;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: turquoise;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.navTabs {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style:none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 13px;
  position: relative;
}

#tab {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

#tab:hover {
  text-decoration: underline;
  color: white;
}

.navTab {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

.navTab:hover {
  color: #fff;
  cursor: pointer;
}

.navTab::before {
  content:'';
  display: block;
  height:5px;
  width:100px;
  background-color: red;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 252ms;
}

.navTab:hover::before {
  width: 100%;
}

.contactbox {
  width: 460px;
  height: 570px;
  background: rgb(37, 37, 37);
  color: #fff;
  top: 40%;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 70px 30px;
}

.contactbox input[type="text"], input[type="email"],input[type="text"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 20px;
  color: #fff;
  font-size: 16px;
}

.contactbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: turquoise;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.contactbox a:hover {
  color: red;
}

.contact-title {
  text-align: center;
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

.contact-title h2 {
  font-size: 32px;
  line-height: 10px;
}

.contact-title h3 {
  font-size: 16px;
}

form {
  margin:0;
  padding: 0%;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 400px;
  background: transparent;
  border-bottom: 1px solid gray;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

.aboutText {
  color: white;
  font-size: 150%;
}

.infoPanel {
  background-color: rgb(58, 58, 58);
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

/*menu Styling*/
.amount {
  display: inline;
}

#item1, #item2, #item3, #item4, #item5, #item6 {
  text-align: center;
  width: 300px;
  margin-left: 12%;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(58, 58, 58);
}

.images {
  padding: 10px;
  border-radius: 15px;
}

#orderTotal {
  margin-top: 20px;
  font-size: 18px;
}

#bottomDiv {
  overflow: auto;
  margin: 0 auto;
}

#menuSpacer {
  width: 15%;
}

#select {
  border: none;
  outline: none;
  height: 40px;
  width: 200px;
  background: turquoise;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  padding-left: 20px;
}

#select:hover {
  cursor: pointer;
}

#menubox {
  width: 100%;
  height: 100%;
  color: #fff;
  top: 0%;
  left: 0%;
  position: relative;
  box-sizing: border-box;
  padding-right: 7.5%;
  padding-left: 7.5%;
}

#menuPanel {
  background: rgb(37, 37, 37);
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 6%;
}

.menuOrderDetails {
  display: inline-block;
}

.itemQuantityBtn {
  border: none;
  outline: none;
  width: 30px;
  background: turquoise;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin: 10px;
  display: inline-block;
}

.itemQuantityBtn:hover {
  cursor: pointer;
  background: red;
  color: white;
}
/*End menu styling*/

/*Start checkout styling*/
#orderDisplay th {
  font-size: 140%;
  padding: 8px;
  text-align: left;
}

#orderDisplay td {
  font-size: 120%;
  padding: 8px;
  text-align: left;
}

.checkoutPanel {
  margin: 0 auto;
  margin-bottom: 5%;
  display: block;
  color: black;
  padding: 5px;
}

#transactionTotals {
  text-align: right;
}

#transactionDisplay {
  width: 30%;
}

.boldText {
  font-weight: bold;
}

#customerInfo {
  width: 70%;
}

#customerInfo td {
  padding: 8px;
}

.transactionInfo {
  padding: 1%;
}

.actionBtn {
  border: none;
  outline: none;
  height: 40px;
  width: 150px;
  background: turquoise;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin: 10px;
  display: inline-block;
}

.actionBtn:hover {
  cursor: pointer;
  background: red;
  color: white;
}

#btnContainer {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#editActBtn {
  height: 20px;
  width: 60px;
  font-size: 14px;
}
/*End checkout styling*/

/*signup styling*/
.signinbox {
  width: 450px;
  height: 710px;
  background: rgb(37, 37, 37);
  color: #fff;
  top: 40%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 70px 30px;
  margin-bottom: 20px;
}
.signinbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.signinbox input {
  width: 100%;
  margin-bottom: 20px;
}

.signinbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.signinbox #submit {
  border: none;
  outline: none;
  height: 40px;
  background: turquoise;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  text-align: center;
}

.signinbox #submit:hover {
  cursor: pointer;
  background: red;
  color: white;
}

.signinbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color:white;  
}

.signinbox a:hover {
  color: red;
}